@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
}

header span {
  margin-left: 8px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px - 48px);
  overflow: auto;
}

.card-list {
  width: 100vw;
  margin: 32px;
  padding: 0;
  list-style: none;
}

.card-item {
  margin: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px #424242 solid;
  cursor: pointer;
  transition: 0.4s;
}

.card-item:last-child {
  border-bottom: none;
}

.active,
.card-item:hover {
  background: rgba(0, 0, 0, 0.2);
}

.card-item_title {
  margin: 4px 0;
  font-size: large;
}

.card-item_title:after {
  float: right;
  margin-left: 4px;
  margin-right: 4px;
  color: #000;
  content: '\002B';
}

.active:after {
  content: '\2212';
}

.card-item_content {
  margin: 4px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
}

footer span {
  margin-left: 8px;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
