@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');
@import 'https://unpkg.com/open-props';

:root {
  --background: var(--gray-0, white);
  --color: black;
  --border-table: black;
  --border-input: black;

  --surface-shadow-light: 200 10% 20%;
  --shadow-strength-light: 0.02;

  --focus-color: hsl(165, 82%, 51%);
}

[data-theme='dark'] {
  --background: var(--gray-9, black);
  --color: white;
  --border-table: white;
  --border-input: white;

  --surface-shadow-dark: 200 50% 3%;
  --shadow-strength-dark: 0.8;
}

* {
  accent-color: hsl(165, 82%, 51%);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;

  background: var(--background);
  color: var(--color);
}
